{% extends 'base.html' %}  {# 加载父模板 #}

{% block header %}  {# 预留头部位置 #}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock header %}  

{% block title %}修改密码{% endblock title %}  {# title #}
{% block search %}{% endblock search %}  {# 搜索框 #}

{% block content %}
<div class="form">
    <form action="" method="post">
<!--        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">-->
        {{ form.csrf_token }}
      <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="旧密码" name="old_password">
          <div class="red">{{ form.old_password.errors.0 }}{{ old_password_error }}</div>
           <input type="password" class="form-control" id="exampleInputPassword2" placeholder="新密码" name="new_password">
          <div class="red">{{ form.new_password.errors.0 }}</div>
      </div>
      <button type="submit" class="btn btn-primary">提交</button>
        <span class="h6"> <a href="{{ url_for('user.send_email_code') }}">忘记密码?</a></span>
        <div class="red h3">{{ msg }}</div>
    </form>
</div>
{% endblock content %}

{% block bottom %}{% endblock bottom %}  {# 底部 #}

{% block script %}  {# js预留位置 #}
    if("{{ is_change }}" == "1"){
        alert("密码修改成功，请重新登录");
        setTimeout(function(){
            window.location.href = "{{ url_for('user.login') }}";
        }, 100);
    };
{% endblock script %}