{% extends 'base.html' %}  {# 加载父模板 #}

{% block header %}  {# 预留头部位置 #}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock header %}  

{% block title %}欢迎注册{% endblock title %}  {# title #}
{% block nav %}
    <!--导航栏开始-->
    <nav class="navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">旅游景点自助系统</a>
            </div>
                {% block search %}{% endblock search %}  {# 搜索框 #}
                {% block login %}{% endblock login %}  {# 登录注册链接 #}
        </div>
    </nav>
    <!--导航栏结束-->
{% endblock nav %}

{% block content %}
<div class="form">
    <div class="h3 welcome-register">欢迎注册</div>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱" name="email">
          <div class="red">{{ form.email.errors.0 }}</div>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="密码（至少六位）" name="password">
          <div class="red">{{ form.password.errors.0 }}</div>
          <input type="text" placeholder="验证码(点击切换)" name="code"><img src="{{ url_for('user.get_image_code') }}" class="code" id="image_code" alt="验证码">
          <div class="red">{{ form.code.errors.0 }}</div>
      </div>
      <button type="submit" class="btn btn-primary">立即注册</button>
        <span class="h6"> 已有账号？<a href="{{ url_for('user.login') }}">立即登录</a></span>
        <div class="red h3">{{ msg }}</div>
    </form>
</div>
{% endblock content %}

{% block bottom %}{% endblock bottom %}  {# 底部 #}

{% block script %}  {# js预留位置 #}
    if("{{ flag }}" == "1"){
        alert("邮件发送成功");
         setTimeout(function(){
            window.location.href = "{{ url_for('user.login') }}";
        }, 100);
    };
{% endblock script %}