{% extends 'base.html' %} {# 加载父模板 #}

{% block title %}个人中心{% endblock title %} {# title #}
{% block header %} {# 预留头部位置 #}
<link rel="stylesheet" href="/static/css/user_center.css">
{% endblock header %}
{% block search %}{% endblock search %} {# 搜索框 #}
{% block content %}
<div class="container">
    <!-- 左侧列表开始 -->
    <div class="row my-fixed">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="list-group">
                <div class="img"><img src="/static{{ g.user.icon }}" alt="头像"></div>
                <div class="uname h3">{{ g.user.username }}</div>
                <a href="#my-info" class="list-group-item">编辑个人信息</a>
                <a href="#my-dynamic-state" class="list-group-item">我的动态</a>
                <a href="#my-comment" class="list-group-item">我的评论</a>
                <a href="{{ url_for('user.change_password') }}" class="list-group-item">修改密码</a>
            </div>
        </div>
    </div>
    <!-- 左侧列表结束 -->

    <!-- 编辑个人信息开始-->
    <div  id="my-info" class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <div class="h4">编辑个人信息</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <form action="" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <input type="file" class="form-control" name="icon">
                    <div class="red">图片格式错误</div>
                    <input type="text" class="form-control" value="用户名" name="username">
                    <div class="red">用户名格式错误</div>
                </div>
                <button type="submit" class="btn btn-primary">保存</button>
            </form>
        </div>
    </div>
    <!-- 编辑个人信息结束-->

    <!-- 我的动态开始 -->
    <div  id="my-dynamic-state" class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <div class="h4">我的动态</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
            <br>
            <br>
            <div><a href="#">删除</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <!-- 我的动态结束 -->

    <!-- 我的评论开始 -->
    <div id="my-comment" class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <div class="h4">我的评论</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
      <!-- 我的评论结束 -->
</div>
{% endblock content %}