{% extends 'base.html' %} {# 加载父模板 #}

{% block title %}个人中心{% endblock title %} {# title #}
{% block header %} {# 预留头部位置 #}
<link rel="stylesheet" href="/static/css/user_center.css">
{% endblock header %}
{% block search %}{% endblock search %} {# 搜索框 #}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="list-group">
                <div class="img"><img src="/static{{ g.user.icon }}" alt="头像"></div>
                <div class="uname h3">{{ g.user.username }}</div>
                <a href="#" class="list-group-item">编辑个人信息</a>
                <a href="#" class="list-group-item">我的动态</a>
                <a href="#" class="list-group-item">我的评论</a>
                <a href="{{ url_for('user.change_password') }}" class="list-group-item">修改密码</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <div class="h4">我的动态</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
            <br>
            <br>
            <div><a href="#">删除</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            <div class="h4">我的评论</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-4 col-xs-offset-5 item">
            打开附件打开附件开发的时间飞快的设计费飞机迪斯科飞机附件是昆仑剑法开发建设了房间科夫斯基分手快乐来访记录是否记录卡撒旦解放螺丝钉解放了JFK但是JFK撒旦解放
        </div>
    </div>
</div>
{% endblock content %}