<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/css/init.css" type="text/css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
    <script src="/static/jquery1.12.4/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='tinymce/tinymce.min.js') }}"></script>
    {% block header %} {% endblock header %} {# 头部预留位置 #}
    <title>{% block title %}父模板标题{% endblock title %}</title> {# title #}
</head>

<body>
{% block nav %}
    <!--导航栏开始-->
    <nav class="navbar-default">
        <!-- 切换按钮开始 -->
        <button class="navbar-toggle" id="nav-btn">
            <span class="toggle-btn glyphicon glyphicon-chevron-left" id="btn-span"></span>
        </button>
        <!--切换按钮结束-->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="/static/images/logo.jpg" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="nav-div">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">首页</a></li>
                    <li><a href="{{ url_for('main.info') }}">公告信息</a></li>
                    <li><a href="#">地图</a></li>
                    <li><a href="#">景点服务</a></li>
                    <li><a href="{{ url_for('main.user_dynamic') }}">游客动态</a></li>
                    <li><a href="#">留言</a></li>
                </ul>
                {% block search %}
                  <!--搜索框开始-->
                <form class="navbar-form navbar-right" method="post" action="">
                    <div class="form-group">
                        <input type="text"class="form-control" placeholder="搜">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_btn">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <!-- 搜索框结束 -->
                {% endblock search %}

                {% block login %}
                <!-- 用户头像 -->
                <ul class="nav navbar-right">
                    {% if g.user %}
                    <li class="li">
                        <div class="icon"><a href="javascript:;"><img class="icon_image" src="" alt="头像"></a> {{ g.user.username }}</div>
                        <ul class="ul_down">
                            <li><a href="{{ url_for('user.user_center') }}">用户中心</a></li>
                            {% if g.user.is_admin == 1 %}
                            <li><a href="{{ url_for('admin.admin_index') }}">后台管理</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('user.user_logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li class="login"><a href="{{ url_for('user.login') }}">登录</a>or<a href="{{ url_for('user.register') }}">注册</a></li>
                    {% endif %}
                    {% endblock login %}
                </ul>
            </div>
        </div>
    </nav>
    <!--导航栏结束-->
{% endblock nav %}

    <!--身体开始-->
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>内容</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!--身体结束-->

    <!--底部开始-->
    {% block bottom %}
        <div class="bottom navbar-fixed-bottom">旅游景点自助系统</div>
    {% endblock bottom %}
    <!--底部结束-->

<script>
    $('#nav-btn').click(function () {
        $('#nav-div').toggleClass('collapse');  // 点击出现下拉菜单

        if ($('#nav-div').hasClass('collapse')) {
            $('#btn-span').removeClass('glyphicon glyphicon-chevron-down').addClass('glyphicon glyphicon-chevron-left');
        }
        else {
            $('#btn-span').removeClass('glyphicon glyphicon-chevron-left').addClass('glyphicon glyphicon-chevron-down');
        }
        return false;  // 防止事件冒泡(javascript的return false只会阻止默认行为，而是用jQuery的话则既阻止默认行为又防止对象冒泡)
    });

    // 富文本编辑器初始化
    tinymce.init({  // 键值对形式
            selector: '#textarea',
            language: "zh_CN",
            inline: false,
            height: 600,
            // 插件
            plugins: 'quickbars advlist autolink link image lists preview', // 字符串，或plugins : ['advlist','autolink','link'],数组方式
            // 工具栏
            toolbar: 'undo redo | styleselect | bold italic | link h2 h3 h4 h5 h6',  // 工具栏按钮
        });

    // 使用jQuery ready函数加载用户头像，为了在用户上传头像时能更新缓存
    $(function(){
        $('.icon_image').attr('src', '/static{{ g.user.icon }}?key=' + Math.random());
        });

    // 点击切换验证码图片，后面添加随机数，不同的请求才能切换
    $('#image_code').click(function(){
        $(this).attr('src', "{{ url_for('user.get_image_code') }}?key=" + Math.random());
        return false;
    });

    {% block script %}  {# js预留位置 #}
    {% endblock script %}
</script>
</body>

</html>