<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="/static/css/init.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="/static/jquery1.12.4/jquery-1.12.4.min.js"></script>
    {% block header %} {% endblock header %} {# 头部预留位置 #}
    <title>{% block title %}父模板标题{% endblock title %}</title> {# title #}
</head>

<body>
{% block nav %}
    <!--导航栏开始-->
    <nav class="navbar-default">
        <!-- 切换按钮开始 -->
        <button class="navbar-toggle" id="nav-btn">
            <span class="toggle-btn glyphicon glyphicon-chevron-left" id="btn-span"></span>
        </button>
        <!--切换按钮结束-->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><img src="/static/images/logo.jpg" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="nav-div">
                <ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">公告信息</a></li>
                    <li><a href="#">游客动态</a></li>
                </ul>
                {% block search %}
                  <!--搜索框开始-->
                <form class="navbar-form navbar-right" method="post" action="">
                    <div class="form-group">
                        <input type="text"class="form-control" placeholder="搜">
                    </div>
                    <button type="submit" class="btn btn-default" id="search_btn">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <!-- 搜索框结束 -->
                {% endblock search %}

                <!-- 用户头像 -->
                <ul class="nav navbar-right">
<!--                    <li class="li">-->
<!--                        <div class="icon"><a href="javascript:;"><img src="/static/images/icon/icon.jpg" alt="头像"></a> 张三<div>-->
<!--                        <ul class="ul_down">-->
<!--                            <a href="#"><li>用户中心</li></a>-->
<!--                            <a href="#"><li>后台管理</li></a>-->
<!--                            <a href="#"><li>退出登录</li></a>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    未登录-->
                    {% block login %}
                    <li class="login"><a href="{{ url_for('user.login') }}">登录</a>or<a href="{{ url_for('user.register') }}">注册</a></li>
                    {% endblock login %}
                </ul>
            </div>
        </div>
    </nav>
    <!--导航栏结束-->
{% endblock nav %}

    <!--身体开始-->
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>内容</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    <!--身体结束-->

    <!--底部开始-->
    {% block bottom %}
        <div class="bottom navbar-fixed-bottom">旅游景点自助系统</div>
    {% endblock bottom %}
    <!--底部结束-->



<script>
    $('#nav-btn').click(function () {
        $('#nav-div').toggleClass('collapse');  // 点击出现下拉菜单

        if ($('#nav-div').hasClass('collapse')) {
            $('#btn-span').removeClass('glyphicon glyphicon-chevron-down').addClass('glyphicon glyphicon-chevron-left');
        }
        else {
            $('#btn-span').removeClass('glyphicon glyphicon-chevron-left').addClass('glyphicon glyphicon-chevron-down');
        }
        return false;  // 防止事件冒泡(javascript的return false只会阻止默认行为，而是用jQuery的话则既阻止默认行为又防止对象冒泡)
    });
</script>
</body>

</html>