/* 公共样式 */
.red{ color: red; }
a:hover {text-decoration:none !important;}
.container{ margin-top: 10px !important; margin-bottom: 50px !important; }
/* 公共样式 */

.icon{
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
/* 用户头像 */
.icon img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* 导航栏 */
.navbar-default {
    background-color: #09F;
    color: #ffffff;
  }
  .navbar-default .navbar-nav>li>a{ color: #ffffff; }
  .navbar-default .navbar-brand { color: #ffffff; }
  .navbar-default .navbar-nav>li:hover{
      background-color: rgb(69, 176, 248);
    }
.navbar-default .navbar-nav>li>a:hover{ color: #ffffff; }

/* 移动端导航栏切换按钮 */
.navbar-toggle{ color: rgb(36, 35, 35);}

/* 未登录 */
.login>a{ display: inline !important; line-height: 50px; }

/* 已登录：用户头像下拉菜单 */
.ul_down{
    position: absolute;
    padding: 5px 10px;
    z-index: 9999;
    display: none;
    background-color: rgb(55, 167, 241);
}
.ul_down li { padding: 5px 0px;  }
.ul_down li a{ color: rgb(195, 227, 247);}
.ul_down li a:hover{
    color: #ffffff;
}
.li:hover ul{
    display: block;
}

/* 底部 */
.bottom {
    padding: 5px;
    background-color: #09F;
    color: #ffffff;
    text-align: center;
}
/* 表单 */
.form{
        width: 400px;
        height: 400px;
        position: absolute;
        top:50%;
        left:50%;
        margin-top: -150px;
        margin-left: -200px;
        padding: 20px;
        align-content: center;
        background-color: #f7f8f8;
     }