{% extends 'base.html' %} {# 加载父模板 #}

{% block title %}后台管理{% endblock title %} {# title #}
{% block header %} {# 预留头部位置 #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_index.css') }}" type="text/css">
<style>
    .scenic_spot_image { width: 109px; height: 72px; }
    .user_icon{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        }
    .ml { margin-left: 10px; }
    .img_list { width:170px; height: 113px; }

    {% block style %}  {# 样式预留位置 #}
    {% endblock style %}
</style>
{% endblock header %}

{% block nav %}
    <!--导航栏开始-->
    <nav class="navbar-default">
        <!-- 切换按钮开始 -->
        <button class="navbar-toggle" id="nav-btn">
            <span class="toggle-btn glyphicon glyphicon-chevron-left" id="btn-span"></span>
        </button>
        <!--切换按钮结束-->
        <div class="container-fluid">
            <!--logo开始-->
            <div class="navbar-header">
                <a class="navbar-brand">后台管理</a>
            </div>
            <!--logo结束-->
            {% block search %}  {# 搜索框 #}
             <!--搜索框开始-->
                <form style="color:black;" class="navbar-form navbar-left" method="post" action="{{ url_for('admin.search_page') }}">
                    <div class="form-group">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <select class="form-control" name="key">
                            <option value="1">公告标题</option>
                            <option value="2">景点名</option>
                            <option value="3">用户名</option>
                            <option value="4">邮箱</option>
                            <option value="5">动态</option>
                            <option value="6">留言</option>
                        </select>
                        <input type="text" class="form-control" placeholder="查找" name="content">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <!-- 搜索框结束 -->
            {% endblock search %}
            <div class="collapse navbar-collapse" id="nav-div">
                <div class="icon nav navbar-right">
                    欢迎！管理员{#{ g.user.username }#}&nbsp;
                    <a href="{{ url_for('admin.admin_index') }}">后台管理首页</a>
                    <a href="{{ url_for('main.index') }}">网站首页</a>
                    <a href="{{ url_for('user.user_logout') }}">退出登录</a>
                </div>
            </div>
        </div>
    </nav>
    <!--导航栏结束-->
{% endblock nav %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="list-group">
            <div class="list-group-item" style="border:None;">
                <a href="{{ url_for('admin.change_index_introduction') }}" class="btn btn-primary">修改首页简介</a>
                <a href="{{ url_for('admin.add_scenic_spot') }}" class="btn btn-primary">添加景点</a>
                <a href="{{ url_for('admin.add_info') }}" class="btn btn-primary">发布公告</a>
                 <a href="{{ url_for('admin.bottom_info') }}" class="btn btn-primary">网站底部联系方式管理</a>
            </div>

            <!-- 公告列表开始 -->
            <a href="javascript:;" class="my_list list-group-item h4">公告列表 <span class="glyphicon glyphicon-chevron-right float-r"></span></a>
            {% if info_list %}
            <ul class="ul-list" style="display: None;">
                {% for info in info_list %}
                <li>
                    {{ loop.index }}.{{ info.title }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:;"><button class="btn btn-danger btn-xs info_id" data-info_id="{{ info.id }}">删除</button></a>
                    <a href="{{ url_for('admin.add_info', info_id=info.id) }}"><button class="btn btn-info btn-xs">编辑</button></a>
                    <a href="{{ url_for('main.info_detail', info_id=info.id) }}"><button class="btn btn-success btn-xs">查看</button></a>
                    <span class="float-r">{{ info.create_time }}</span>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- 公告列表结束 -->
            <!-- 景点列表开始 -->
            <a href="javascript:;" class="my_list list-group-item h4">景点列表<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
            <ul class="ul-list" style="display: None;">
                {% if scenic_spot_list %}
                {% for sp in scenic_spot_list %}
                <li>
                    {{ loop.index }}.
                    <img class="scenic_spot_image" src="{{ url_for('static', filename=sp.image) }}" alt="封面">
                    {{ sp.name }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:;"><button class="btn btn-danger btn-xs sp_id" data-sp_id="{{ sp.id }}">删除</button></a>
                    <a href="{{ url_for('admin.add_scenic_spot', sid=sp.id) }}"><button class="btn btn-info btn-xs">编辑</button></a>
                    <a href="{{ url_for('main.scenic_spots_detail', sid=sp.id) }}"><button class="btn btn-success btn-xs">查看</button></a>
                    <span class="float-r">{{ sp.create_time }}</span>
                </li>

                <a href="javascript:;" class="my_list list-group-item h5">{{ sp.name }}: 图集列表 <span class="glyphicon glyphicon-chevron-right float-r"></span></a>
                <ul class="ul-list" style="display: None;">
                    {% if sp.images %}
                    {% for image in sp.images %}
                    <li>
                        {{ loop.index }}.
                        <img class="img_list" src="{{ url_for('static', filename=image.image) }}" alt="图片">
                        <a href="javascript:;"><button class="btn btn-danger btn-xs sp_image_id" data-sp_image_id="{{ image.id }}">删除</button></a>
                        <span class="float-r">{{ image.create_time }}</span>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                <br>
                {% endfor %}
                {% endif %}
             </ul>
             <!-- 景点列表结束 -->
             <!-- 用户列表开始 -->
            <a href="javascript:;" class="my_list list-group-item h4">用户列表<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
            <ul class="ul-list" style="display: None;">
                {% if user_list %}
                {% for user in user_list %}
                <li>
                    <img src="{{ url_for('static', filename=user.icon) }}" alt="头像" class="user_icon">
                    {{ user.username }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {% if not user.is_admin and user.is_activate and not user.is_delete %}
                    <a href="javascript:;"><button class="btn btn-success btn-xs user_id" data-user_id="{{ user.id }}">添加为管理员</button></a>
                    {% endif %}

                    {% if not user.is_activate %}  {# 管理员可以删除未激活的用户 #}
                    <a href="javascript:;"><button class="btn btn-danger fr ml del_user_id" data-user_id="{{ user.id }}">删除</button></a>
                    {% endif %}

                    <button type="button" class="btn btn-default fr ml" disabled="disabled">{{ user.create_time }}</button>
                    
                    {% if user.is_admin %}
                        <button type="button" class="btn btn-info fr ml" disabled="disabled">管理员</button>
                    {% else %}
                        <button type="button" class="btn btn-default fr ml" disabled="disabled">普通用户</button>
                    {% endif %}
                    
                    {% if user.is_activate %}
                        <button type="button" class="btn btn-success fr ml" disabled="disabled">已激活</button>
                        {% else %}
                        <button type="button" class="btn btn-default fr ml" disabled="disabled">未激活</button>
                        {% endif %}
                    {% if user.is_delete %}<button type="button" class="btn btn-danger fr ml" disabled="disabled">黑名单</button>{% endif %}
                    <button type="button" class="btn btn-default fr ml" disabled="disabled">邮箱：{{ user.email }}</button>
                </li>

                    {% if user.dynamics %}
                    <!-- 他的动态开始 -->
                    <a href="javascript:;" class="my_list list-group-item h5">他的动态<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
                    <ul class="ul-list" style="display: None;">
                        {% for d in user.dynamics %}
                        <li>
                            <span class="float-r">{{ d.create_time }}</span>
                            <p>{{ loop.index }}.{{ d.content }}</p>
                            {% if d.images %}
                                {% for image in d.images %}
                                <img class="img_list" src="{{ url_for('static', filename=image.image) }}" alt="图片">
                                {% endfor %}
                                <br>
                            {% endif %}
                            <br>
                            <a href="javascript:;"><button class="btn btn-danger btn-xs d_id" data-d_id="{{ d.id }}">删除</button></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- 他的动态结束 -->
                    {% endif %}

                    {% if user.messages %}
                    <!-- 他的留言开始 -->
                    <a href="javascript:;" class="my_list list-group-item h5">他的留言<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
                    <ul class="ul-list" style="display: None;">
                        {% for message in user.messages %}
                        <li>
                            <span class="float-r">{{ message.create_time }}</span>
                            <p>{{ loop.index }}.{{ message.content }}</p>
                            <a href="javascript:;"><button class="btn btn-danger btn-xs message_id" data-message_id="{{ message.id }}">删除</button></a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- 他的留言结束 -->
                    {% endif %}   
                    <br>

                {% endfor %}
                {% endif %}
             </ul>
             <!-- 用户列表结束 -->

             <!-- 用户动态开始 -->
            <a href="javascript:;" class="my_list list-group-item h4">用户动态列表<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
            <ul class="ul-list" style="display: None;">
                {% if dynamic_list %}
                {% for d in dynamic_list %}
                <li>
                    {{ loop.index }}.
                    <img src="{{ url_for('static', filename=d.user.icon) }}" alt="头像" class="user_icon">
                    {{ d.user.username }}
                    <span class="float-r">{{ d.create_time }}</span>
                    <p>{{ d.content }}</p>
                    {% if d.images %}
                        {% for image in d.images %}
                        <img class="img_list" src="{{ url_for('static', filename=image.image) }}" alt="图片">
                        {% endfor %}
                        <br>
                    {% endif %}
                    <br>
                    <a href="javascript:;"><button class="btn btn-danger btn-xs d_id" data-d_id="{{ d.id }}">删除</button></a>
                </li>
                {% endfor %}
                {% endif %}
             </ul>
             <!-- 用户动态结束 -->
             <!-- 用户留言开始 -->
            <a href="javascript:;" class="my_list list-group-item h4">用户留言列表<span class="glyphicon glyphicon-chevron-right float-r"></span></a>
            <ul class="ul-list" style="display: None;">
                {% if message_board_list %}
                {% for message in message_board_list %}
                <li>
                    {{ loop.index }}.
                    <img src="{{ url_for('static', filename=message.user.icon) }}" alt="头像" class="user_icon">
                    {{ message.user.username }}
                    <span class="float-r">{{ message.create_time }}</span>
                    <p>{{ message.content }}</p>
                    <a href="javascript:;"><button class="btn btn-danger btn-xs message_id" data-message_id="{{ message.id }}">删除</button></a>
                </li>
                {% endfor %}
                {% endif %}
             </ul>
             <!-- 用户留言结束 -->
        </div>
    </div>
</div>
{% endblock content %}
{% block bottom %}{% endblock bottom %}  {# 底部 #}
{% block script %}  {# js预留位置 #}

    // 定义函数，参数: $(this)为调用函数的对象，显示和隐藏切换，200毫秒延迟
    function toggle_list(ths){
        ths.next('ul').toggle(200);
        // 来回切换两个(class)箭头按钮
        ths.children('span').toggleClass('glyphicon-chevron-down glyphicon-chevron-right');
    };

    // 显示和隐藏公告列表
    $('.my_list').click(function(){
        var ths = $(this);
        toggle_list(ths);  // 调用函数
        return false;
    });

    // 定义删除函数
    function del_fun(id, url, ths){
            if(confirm("确定删除吗？")){
                $.ajax({
                    url: url,
                    type:"post",
                    data:{id: id, csrf_token:"{{ csrf_token() }}"},
                    success: function (msg) {   // 回调函数
                         if(msg == 'true'){
                            $(this).parent().parent().remove();  // 删除父节点
                         }
                         else{
                            alert(msg);
                         };
                    }.bind(ths)  // 回调函数里使用$(this)，需要绑定
                });
            };
        };

    // 删除公告
    $('.info_id').click(function(){
        var info_id = $(this).data('info_id');
        var url = "{{ url_for('admin.delete_info') }}";
        var ths = $(this);
        // 调用删除函数
        del_fun(info_id, url, ths);
        return false;
    });

    // 删除未激活用户
    $('.del_user_id').click(function(){
        var user_id = $(this).data('user_id');
        var url = "{{ url_for('admin.del_user') }}";
        var ths = $(this);
        // 调用删除函数
        del_fun(user_id, url, ths);
        return false;
    });

    // 定义删除景点函数
    function del_s(id, url, ths){
            if(confirm("确定删除吗？")){
                $.ajax({
                    url: url,
                    type:"post",
                    data:{id: id, csrf_token:"{{ csrf_token() }}"},
                    success: function (msg) {   // 回调函数
                         if(msg == 'true'){
                            $(this).parent().parent().next().remove();  // 删除景点下的图集列表a
                            $(this).parent().parent().next().remove();  // 删除景点下的图集列表ul
                            $(this).parent().parent().remove();  // 删除父节点
                         }
                         else{
                            alert(msg);
                         };
                    }.bind(ths)  // 回调函数里使用$(this)，需要绑定
                });
            };
        };

     // 删除景点
    $('.sp_id').click(function(){
        var sp_id = $(this).data('sp_id');
        var url = "{{ url_for('admin.delete_scenic_spots') }}";
        var ths = $(this);
        // 调用删除函数
        del_s(sp_id, url, ths);
        return false;
    });

    // 删除景点图片
    $('.sp_image_id').click(function(){
        var sp_image_id = $(this).data('sp_image_id');
        var url = "{{ url_for('admin.delete_scenic_spots_image') }}";
        var ths = $(this);
        // 调用删除函数
        del_fun(sp_image_id, url, ths);
        return false;
    });

    // 删除动态
    $('.d_id').click(function(){
        var d_id = $(this).data('d_id');
        var url = "{{ url_for('admin.delete_dynamic') }}";
        var ths = $(this);
        // 调用删除函数
        del_fun(d_id, url, ths);
        return false;
    });

    // 删除留言
    $('.message_id').click(function(){
        var message_id = $(this).data('message_id');
        var url = "{{ url_for('admin.delete_message') }}";
        var ths = $(this);
        // 调用删除函数
        del_fun(message_id, url, ths);
        return false;
    });

     // 添加为管理员
    $('.user_id').click(function(){
        var user_id = $(this).data('user_id');
        if(confirm("确定将此用户添加为管理员吗？")){
                $.ajax({
                    url: "{{ url_for('admin.add_admin') }}",
                    type:"post",
                    data:{id: user_id, csrf_token:"{{ csrf_token() }}"},
                    success: function (msg) {   // 回调函数
                         if(msg == 'true'){
                            $(this).parent().next().next().text('管理员');  // 改为管理员
                            $(this).remove();  // 删除当前按钮
                         }
                         else{
                            alert(msg);
                         };
                    }.bind(this)  // 回调函数里使用$(this)，需要绑定
                });
        };
        return false;
    });


{% endblock script %}




