{% extends 'base.html' %}  {# 加载父模板 #}


{% block title %}景点地图{% endblock title %}  {# title #}

{% block header %}  {# 预留头部位置 #}
<style>
    body { background-color: white;}
    .container { background-color: white; padding: 20px; }
</style>
{% endblock header %}

{% block search %}{% endblock search %}  {# 搜索框 #}

{% block content %}
<div class="container">
    <div class="row">
        <div>
            <img src="/static/images/map.jpg" alt="导览图" style="width: 100%;">
        </div>
    </div>
    <div class="row">
        <h1>景点位置</h1>
        <p>广西壮族自治区贵港市桂平市西山路3号</p>
        <div>
            <iframe src="/static/my_map.html" width="100%" frameborder="0" height="565" scrolling="no"></iframe>
        </div>
    </div>
</div>

{% endblock content %}