{% extends 'base.html' %}  {# 加载父模板 #}


{% block title %}首页{% endblock title %}  {# title #}

{% block header %}  {# 预留头部位置 #}
<link rel="stylesheet" href="/static/css/index.css">

<link rel="stylesheet" href="/static/swiper6.4.1/swiper-bundle.min.css">
<style>
    .swiper-container {
        width: 80%;
    }
    .swiper-wrapper img {
        width: 100%;
        height: 100%;
    }
    .color { background-color: #094;
        padding: 5px 30px;
        color: white;
    }
</style>
{% endblock header %}

{% block search %}{% endblock search %}  {# 搜索框 #}

{% block content %}

{% if index_brief_introduction %}
<!--首页简介开始-->
<div class="jumbotron container-fluid">
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <h3>{{ index_brief_introduction.title }}</h3>
            <div>{{ index_brief_introduction.content | safe }}</div>
            <br>
            <p>门票：<span class="red">{{ index_brief_introduction.rates }}</span></p>
            <p>开放时间：{{ index_brief_introduction.opening_hours }}</p>
            <p>最近更新：{{ index_brief_introduction.create_time }}</p>
        </div>
        <div class="col-md-2 col-sm-3">
            <!--天气插件开始-->
                <iframe allowtransparency="true" frameborder="0" width="140" height="128" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=1&z=3&t=0&v=1&d=1&bd=0&k=000000&f=&ltf=009944&htf=cc0000&q=1&e=0&a=0&c=60663&w=140&h=128&align=center"></iframe>
            <!--天气插件结束-->
        </div>
    </div>
</div>
<!--首页简介结束-->
{% endif %}

<!--轮播图开始-->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/static/images/banner/1.jpg" alt="图片"></div>
        <div class="swiper-slide"><img src="/static/images/banner/2.jpg" alt="图片"></div>
        <div class="swiper-slide"><img src="/static/images/banner/3.jpg" alt="图片"></div>
        <div class="swiper-slide"><img src="/static/images/banner/4.jpg" alt="图片"></div>
        <div class="swiper-slide"><img src="/static/images/banner/5.jpg" alt="图片"></div>
        <div class="swiper-slide"><img src="/static/images/banner/6.jpg" alt="图片"></div>
    </div>
    <!-- 底部分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 前进后退按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</div>
<script src="/static/swiper6.4.1/swiper-bundle.min.js"> </script>
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    direction: 'horizontal', // 水平切换选项
    loop: true, // 循环模式选项

    // 自动循环播放
    autoplay: {
        delay: 2000,  // 两秒切换一次
    },

    // 底部分页器
    pagination: {
      el: '.swiper-pagination',
    },

    // 前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  })
  </script>
<!--轮播图结束-->

<!--景点列表开始-->

<h3 class="color">景点列表</h2>
<div class="container">
{% if scenic_spots_list %}
    <div class="row">
    {% for i in range(scenic_spots_list | length) %}
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="thumbnail">
                <img src="/static{{ scenic_spots_list[i].image }}" alt="景点封面" style="width:100%;">
                <div class="caption">
                    <h3>{{ scenic_spots_list[i].name }}</h3>
                    <p class="red">{{ scenic_spots_list[i].rates }}</p>
                    <p>开放时间：{{ scenic_spots_list[i].opening_hours }}</p>
                  <p><a href="{{ url_for('main.scenic_spots_detail', sid=scenic_spots_list[i].id) }}" class="btn btn-primary" role="button">详情</a></p>
                </div>
            </div>
        </div>
        {% if i>0 and i%4 == 0 %}  {# 四个一行 #}
    </div>  {# 为上一行将添加结尾div #}
    <div class="row">  {# 开启新的一行(row) #}
        {% endif %}
    {% endfor %}
    </div>  {# 循环结束，包尾div #}
{% endif %}
</div>
<!--景点列表结束-->

{% endblock content %}