{% extends 'base.html' %} {# 加载父模板 #}


{% block title %}公告详情{% endblock title %} {# title #}

{% block header %} {# 预留头部位置 #}
<style>
    .center {
        text-align: center;
    }

    .time {
        border-bottom: 1px solid rgb(205, 206, 207);
        text-align: right;
    }

    .title {
        color: rgb(73, 72, 72);
    }
</style>
{% endblock header %}

{% block search %}{% endblock search %} {# 搜索框 #}

{% block content %}
<div class="container">
    <div>
        {% if item %}
        <h3 class="center title">{{ item.title }}</h3>
        <div class="h6 time text-muted">浏览量：{{ item.num }} &nbsp;&nbsp;&nbsp;&nbsp;发布时间：{{ item.create_time }}</div>
        <p>{{ item.content | safe }}</p>
        {% else %}
        <p>数据加载失败！</p>
        {% endif %}
    </div>
</div>
{% endblock content %}