{% extends 'base.html' %} {# 加载父模板 #}


{% block title %}景点详情{% endblock title %} {# title #}

{% block header %} {# 预留头部位置 #}
<style>
     .center {
        text-align: center;
    }

    .time {
        border-bottom: 1px solid rgb(205, 206, 207);
        text-align: right;
    }

    .title {
        color: rgb(65, 64, 64);
    }

    .img {
        width: 248px;
        height: 166px;
    }

    /* 照片墙 */
    .image_scroll {
        height:300px;
        overflow:auto;
        overflow-y:hidden;
        white-space:nowrap;
    }
    .image_scroll img { height: 100%; }
</style>
{% endblock header %}

{% block search %}{% endblock search %} {# 搜索框 #}

{% block content %}
<!-- 简介开始 -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3 class="center title">{{ item.name }}</h3>
            <div class="time text-muted">浏览量：{{ item.num }} &nbsp;&nbsp;&nbsp;&nbsp;最近更新：{{ item.create_time }}</div>
            <br>
            <img class="img" src="/static{{ item.image }}" alt="景点封面">
            <p>{{ item.content | safe }}</p>
        </div>
    </div>
</div>
<!-- 简介结束 -->
{% if item.images %}
<!-- 图集开始 -->
<div class="container-fluid jumbotron">
    <h3>照片墙</h3>
    <hr>
    <div class="image_scroll">
        {% for i in item.images %}
            <img class="img-thumbnail" src="{{ url_for('static', filename=i.image) }}" alt="图片">
        {% endfor %}
    </div>
</div>
<!-- 图集结束 -->
{% endif %}

{% endblock content %}