{% extends 'base.html' %} {# 加载父模板 #}


{% block title %}游客动态{% endblock title %} {# title #}

{% block header %} {# 预留头部位置 #}
<style>
    .my_form {
        background-color: rgb(14, 236, 214);
    }

    .center {
        text-align: center;
    }

    textarea {
        width: 300px;
    }

    .img {
        width: 200px;
    }

    .user_icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .row {
        border-bottom: 1px solid #d8dadb;
        margin-top: 20px;
        padding: 10px;
    }

</style>
{% endblock header %}

{% block search %}{% endblock search %} {# 搜索框 #}

{% block content %}
<div class="container my_form">
    {# 表单开始 #}
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="input-group">
            <div class="red">{{ form.content.errors.0 }}</div>
            <textarea name="content" rows="2"
                placeholder="{% if g.user %}输入内容(500个){% else %}登录后发表{% endif %}"></textarea>
            <div class="h6">上传图片(最多上传五张，每张大小限制10M)</div>
            <input type="file" name="images" multiple> {# 上传多个文件用multiple #}
            <div class="red">{{ form.images.errors.0 }}{{ image_error }}{{ image_too_many_error }}</div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">发布</button>
        <div class="red h4">{{ msg }}</div>
    </form>
    {# 表单结束 #}
</div>

<div class="container">
    {# 用户动态列表开始 #}
    {% if item %}
    {% for i in item.items %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div style="color: #999;">
                <img class="user_icon" src="{{ url_for('static', filename=i.user.icon) }}" alt="头像">
                <span>{{ i.user.username }}</span>
                <span class="fr h6">发表于：{{ i.create_time }}</span>
            </div>
            <p></p>
            <p>{{ i.content }}</p>
            {% if i.images %}
            {% for j in i.images %} {# #}
            <img class="img" src="{{ url_for('static', filename=j.image) }}" alt="图片">
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {# 用户动态列表结束 #}

    {# 分页开始 #}
    <nav class="center" aria-label="Page navigation">
        <ul class="pagination">
            {% if item.has_prev %} {# 上一页 #}
            <li><a href="{{ url_for('main.user_dynamic') }}?page={{ item.prev_num }}">上一页</a></li>
            {% else %}
            <li><a href="javascript:;">上一页</a></li>
            {% endif %}

            <li><a href="javascript:;">{{ item.page }}/{{ item.pages }}</a></li> {# 当前页 #}

            {% if item.has_next %} {# 下一页 #}
            <li><a href="{{ url_for('main.user_dynamic') }}?page={{ item.next_num }}">下一页</a></li>
            {% else %}
            <li><a href="javascript:;">下一页</a></li>
            {% endif %}
        </ul>
    </nav>
    {# 分页结束 #}

    {% else %}
    <h3>暂无内容</h3>
    {% endif %}

</div> {# container容器结束div #}
{% endblock content %}