{% extends 'base.html' %}  {# 加载父模板 #}


{% block title %}游客动态{% endblock title %}  {# title #}

{% block header %}  {# 预留头部位置 #}
<style>
    .center { text-align: center; }
    textarea { width: 500px; }
</style>
{% endblock header %}

{% block search %}{% endblock search %}  {# 搜索框 #}

{% block content %}
<div class="container">
    <div class="row">
        <div class=" col-md-10 col-sm-10">
            {% for i in item %}
            <div>{{ i.user.username }}------{{ i.content }}</div>
                {% for j in i.images %}
                <img src="{{ url_for('static', filename=j.image) }}" alt="">
                {% endfor %}
            {% endfor %}
        </div>
    </div>

{# 分页开始 #}
<nav class="center" aria-label="Page navigation">
  <ul class="pagination">
      <li><a href="javascript:;">上一页</a></li>
      <li><a href="javascript:;">1</a></li>  {# 当前页 #}
      <li><a href="javascript:;">下一页</a></li>
      <li><a>共1页</a></li>  {# 总页数 #}
  </ul>
</nav>
{# 分页结束 #}
{# 表单开始 #}
<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="input-group">
        <textarea name="content" rows="4" placeholder="{% if g.user %}输入内容(500个){% else %}登录后发表{% endif %}"></textarea>
        <div class="red">{{ form.content.errors.0 }}</div>
        <input type="file" name="images" multiple>  {# 上传多个文件用multiple #}
        <div class="red">{{ form.images.errors.0 }}{{ image_error }}{{ image_too_many_error }}</div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">发表</button>
    <div class="red h4">{{ msg }}</div>
</form>
{# 表单结束 #}

</div>
{% endblock content %}